<header class="navbar bg-gradient">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag "dwellingly_logo_white.png", alt: "dwellingly logo" %>
    <% end %>
  </div>
</header>

<section id="change_password">
  <h2 class="page-title">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: account_change_password_path, html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "button is-rounded is-primary" %>
    </div>
  <% end %>
</section>
